body {
    font-family: Poppins;
    background-color: #eceadc;
    line-height: 1.6;
    padding: 20px;
}

h1 {
    font-family: Special Gothic Expanded One;
    text-align: center;
    font-size: 3rem;
    margin-bottom: 30px;
} 

h2, h3, h4 {
    color: #d4a373;
    margin-top: 20px;
}

img {
    width: 100%;
    max-width: 600px;
    height: auto;
    border-radius: 12px;
    margin: 10px 0px;
}

a {
    color:  #8b9273;
}
ul, ol {
    background-color: #dbe1bc;
    padding: 30px;
    border-radius: 10px;
}